@using FavoriteBand.Models



<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <div>
        <h1>@(((Band)ViewData["Band"]).Name)</h1>

        <p>@ViewBag.Band.Description</p>
        <br />
    </div>
    <div>
        <img src=@($"/Band{ViewBag.Band.Id}.jpg") />
    </div>
    <div>
        <h4>Albums</h4>
        <ul>
            @foreach (var album in ViewBag.Band.AlbumList)
            {
                <li>@album</li>
            }
        </ul>
    </div>
    <div>
        @Html.ActionLink("Hem", "", "Bands")
    </div>


</body>
</html>
