@using FavoriteBand.Models
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    @(ViewData["Band"].ToString())

    @*@foreach (var item in ((Band[])ViewData["Band"]))
    {
        <p>@item.Name @item.Description</p>
    }*@

</body>
</html>
