@using FavoriteBand.Models

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Our Favorite Bands</h1>
    <br />
    <ul>
        @foreach (var item in (Band[])ViewData["Bands"])
        {
            <li><a href="bands/details/@item.Id">@item.Name </a> </li>
        }


    </ul>

</body>
</html>
